/* here you can put your own css to customize and override the theme */
.percentage {

    width: 50px;
    float: right;
    margin-left: 10px;

}

.border_red {

	 border: red 1px solid;
    background: rgba(255, 0, 0, 0.19);

}

.border_yellow {

	 border: #FFDD00
	  1px solid;
    background: rgba(255, 221, 0, 0.19);

}

.border_green {

	 border: green 1px solid;
    background: rgba(0, 255, 0, 0.19);

}
.big_ico {

	font-size: 56px;
	line-height: 56px;
	color:navy;

}